.bag {
	right: 20px;
	bottom: 20px;
	position: fixed;
	display: flex;
	flex-direction: column-reverse;
	align-items: center;
	z-index: 1000;
	gap: 12px;
}

.bagIcon {
	background-color: #2070a0;
	color: white;
	padding: 12px;
	border-radius: 50%;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 80px;
	height: 80px;
}

.bagIcon svg {
	width: 40px;
	height: auto;
}

.bagIcon:hover {
	background-color: #106090;
	transform: scale(1.05);
}

.itemList {
	list-style: none;
	max-height: 300px;
	display: flex;
	flex-direction: column;
	gap: 20px;
	justify-content: center;
	align-self: center;
	padding: 0;
	width: max-content;
	min-width: 100px;
	animation: slideUp 0.3s ease-out;
}

.smallItem {
	display: flex;
	justify-content: center;
}

.smallItem img {
	width: 80px;
	height: auto;
	object-fit: contain;
	border-radius: 50%;
}

.smallItem:hover {
	transform: scale(1.05);
}

@keyframes slideUp {
	from {
		opacity: 0;
		transform: translateY(20px);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}
