.leftNav {
	position: absolute;
	display: flex;
	flex-direction: column;
	left: 2rem;
	top: 2rem;
	gap: 1.5rem;
}

.iconButton {
	transition: transform 0.2s ease;
}

.iconButton:hover {
	transform: scale(1.2);
}

.link {
	color: black;
}

.link:hover {
	color: black;
}
