.leftNav {
	position: fixed;
	top: 0;
	left: 0;
	height: 100vh;
	width: 4rem;
	display: flex;
	flex-direction: column;
	left: 2rem;
	top: 2rem;
	gap: 1.5rem;
	z-index: 1000;
}

.iconButton {
	transition: transform 0.2s ease;
}

.iconButton:hover {
	transform: scale(1.2);
}

.helpButton {
	position: absolute;
	bottom: 5rem;
}

.helpButton svg {
	color: Crimson;
}

.link {
	color: black;
}

.link:hover {
	color: black;
}
