.empty {
	display: flex;
	justify-content: center;
	align-items: center;
	color: #ffffff;
	font-style: italic;
}

.itemGrid {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(60px, 1fr));
	width: 100%;
	padding-top: 24px;
}

.item {
	cursor: pointer;
	position: relative;
}

.item:hover {
	filter: brightness(50%);
}

.item.selected {
	filter: brightness(50%);
}

.item img {
	width: 60px;
	height: 60px;
	object-fit: contain;
}

.checkmark {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 10;
	filter: brightness(200%);
}

.checkmark svg {
	color: green;
	font-size: 32px;
}

.tooltip {
	position: absolute;
	bottom: 105%;
	left: 50%;
	transform: translateX(-50%);
	background-color: #000000;
	color: white;
	padding: 6px 12px;
	border-radius: 4px;
	font-size: 12px;
	opacity: 0;
	visibility: hidden;
	transition: opacity 0.3s ease, visibility 0.3s ease;
	overflow: visible;
	pointer-events: none;
	white-space: nowrap;
	z-index: 1002;
}

.item:hover .tooltip {
	opacity: 0.9;
	visibility: visible;
}

@keyframes slideUp {
	from {
		opacity: 0;
		transform: translateY(20px) scale(0.95);
	}
	to {
		opacity: 1;
		transform: translateY(0) scale(1);
	}
}
