.productsPage {
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	align-content: center;
	overflow: hidden;
}

.productItem {
	margin-top: -3vh;
	height: 80vh;
	width: 80vw;
}

